<li>
  {{#link-to 'question' question.id}}{{question.query}} ({{question.topic}}) - {{question.author}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{question.image}} alt={{question.topic}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
</li>
