<li>
  {{#link-to 'question' question.id}}{{question.author}}'s topic is {{question.topic}} for the question: {{question.question}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{question.image}} alt={{question.topic}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
</li>
