Located in {{question.author}}, this {{question.notes}} additional notes {{question.topic}} is
available by arrangement through {{question.author}}.
<br>
<p><img src={{question.image}} alt={{question.topic}}></p>


<h2> Answers </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete</button>
